body{
    margin: 0px;
    padding:0px;
    background:#f0f0f0;
}
#disc-div{
    width:500px;
    height:360px;
    padding:20px;
    display:block;
    background-image: -webkit-linear-gradient(top,#d0d0d0,#e0e0e0);
    position: absolute;
    top:5%;
    left:30%;
    text-align:center;
    font-family: sans-serif;
    color:#333;
    font-size:36px;
    font-weight: bold;
}
#translate-div,#rotate-div,#skew-div,#scale-div,#matrix-div{
    text-align:center;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size:46px;
    line-height: 120%;
    -webkit-transition: -webkit-transform 3s ease-in;
}
#translate-div{
    width:200px;
    height:160px;
    padding:20px;
    display:block;
    border:5px solid#0066cc;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: absolute;
    top:65%;
    left:40%;
    color:#0066cc;
}
#rotate-div{
    width:200px;
    height:160px;
    padding:20px;
    display:block;
    border:5px solid#ff3333;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: absolute;
    top:20%;
    left:5%;
    color:#ff3333;
}
#skew-div{
    width:200px;
    height:160px;
    padding:20px;
    display:block;
    border:5px solid#00cc66;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: absolute;
    top:60%;
    left:5%;
    color:#00cc66;
}
#scale-div{
    width:200px;
    height:160px;
    padding:20px;
    display:block;
    border:5px solid#FF6699;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: absolute;
    top:20%;
    right:5%;
    color:#FF6699;
}
#matrix-div{
    width:200px;
    height:160px;
    padding:20px;
    display:block;
    border:5px solid#FFCC66;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    position: absolute;
    top:60%;
    right:5%;
    color:#FFCC66;
}



